body {
    font-family: 'Space Grotesk', sans-serif;
	margin: 0%;
	padding: 0%;
}
*{
	box-sizing: border-box;
}
.topnav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color:white;
	font-size: 16px;
	font-weight: bold;
	border: solid 2px black;
	position: fixed;
	top: 0%;
	left: 0%;
	/* padding: 10px; */
	margin: 0%;
	width: 100vw;
	height: 5vh;
  }

.topnav a {
	color: black;
	padding: 14px 16px;
	text-decoration: none;
	/* font-size: 16px; */
	/* font-weight: bold; */
	/* width: 100%; */
	/* float: inline-end; */
	/* text-align: center; */
  }

/* .inactive:hover {
	color: black;
} */

.topnav a:hover {
	/* background-color: black; */
	color: #006142;
	font-weight: bold;
  }

h1 {
    font-size: 150px;
	color: #006142;
	line-height: 120px;
	margin: 0%;
	padding: 0%;
}

h2 {
	font-size: 70px;
	color: #006142;
	/* margin-top: -54px; */
	line-height: 70px;
	margin: 0%;
	padding: 0%;
}

h3 {
	font-size: 36px;
	color: #006142;
	font-style: bold;
	margin-top: 100px;
}

h4 {
	font-size: 24px;
	/* color: light rgb(220, 16, 16); */
}

h6 {
	font-size: 16px;
	color: rgb(38, 38, 38);
	/* font-style: oblique; */
	position: absolute;
	bottom: .5vh;
	padding-right: 6%;
	font-weight: 400;
}

p {
	color: rgb(38, 38, 38);
	margin-top: 0%;
	padding-top: 0%;
	font-size: 20px;
	line-height: 30px;
}

.bodytext {
	display: flex;
	flex-wrap: wrap;
	margin-top: 5vh;
}

.title {
	width: 40%;
	/* background-color: green; */
	padding: 3%;
	
}

.absolutetext {
	position: fixed;
	top: 5vh;
	left: 0%;
	width: 40%;
	padding: 3%;
	background-color: #e9f8f3;
	height: 95vh;
}

.text {
	width: 60%;
	padding: 3%;
}

ul {
	color: rgb(38, 38, 38);
	margin-top: 0%;
	padding-top: 0%;
	font-size: 20px;
	line-height: 30px;
}

ol {
	color: rgb(38, 38, 38);
	margin-top: 0%;
	padding-top: 0%;
	font-size: 20px;
	line-height: 30px;
}